@import "compass/css3/border-radius";
@import "compass/utilities/general";
@import "compass/css3/box-shadow";

.bs-admin-table {
	> tbody  {
		> tr {
			> td,
			> th {
				vertical-align: middle;
			}
		}
		> tr:nth-child(4n-3) {
			> td,
			> th {
				> .btn.ladda-button {
					height: 1.8em;
				}
				background-color: #f8f8f8;
			}
		}
	}

	.item-0 i.fa {
		vertical-align: middle;
	}
}

.admin-table-list {
	.chevron {
		float: right;
	}
	.user {
		font-size: 14px;
		.fa {
			font-size: 18px;
			margin-right: 10px;
		}
	}
	.search {
		margin: 0;
	}
	.table-header {
		background: #f5f5f5;
		border: 1px solid #ccc;
		+border-radius: 4px 4px 0 0;
		.filters,
		.breadcrumb {
			margin: 10px;
		}
	}
	.endless-loader {
		background: #efefef;
	}
	.admin-row {
		cursor: pointer;
	}
	.admin-table {
		position: relative;
		#new-row {
			width: 100%;
			position: absolute;
			overflow: hidden;
			z-index: 1;
			#new-row-container {
				width: 95%;
				background: #f8f8f8;
				border: 1px solid #ccc;
				+border-radius: 0 0 4px 4px;
				margin: 20px 20px 200px;
				padding: 114px 14px 14px;
				+box-shadow: 0 4px 14px rgba(0, 0, 0, .2);
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}
		td {
			&.endless-loader {
				padding: 0;
				a.endless_more, div.endless_loading {
					display: block;
					padding: 20px;
				}
			}
		}
	}

	.new-row-form {
		.add-new {
			padding: 10px 0;
		}
	}

	.form-inline .form-group {
		width: 100%;
		margin-top: 12px;
	}
}
