.f16 {

    &.flag{
        width: 16px;
        height: 16px;
        display: inline-block;
        background: image-url('img/flags16.png') no-repeat;
        vertical-align: baseline;
        margin-bottom: -4px;
    }

    &._African_Union{background-position:0 -16px;}
    &._Arab_League{background-position:0 -32px;}
    &._ASEAN{background-position:0 -48px;}
    &._CARICOM{background-position:0 -64px;}
    &._CIS{background-position:0 -80px;}
    &._Commonwealth{background-position:0 -96px;}
    &._England{background-position:0 -112px;}
    &._European_Union{background-position:0 -128px;}
    &._Islamic_Conference{background-position:0 -144px;}
    &._Kosovo{background-position:0 -160px;}
    &._NATO{background-position:0 -176px;}
    &._Northern_Cyprus{background-position:0 -192px;}
    &._Northern_Ireland{background-position:0 -208px;}
    &._Olimpic_Movement{background-position:0 -224px;}
    &._OPEC{background-position:0 -240px;}
    &._Red_Cross{background-position:0 -256px;}
    &._Scotland{background-position:0 -272px;}
    &._Somaliland{background-position:0 -288px;}
    &._Tibet{background-position:0 -304px;}
    &._United_Nations{background-position:0 -320px;}
    &._Wales{background-position:0 -336px;}

    &.AD{background-position:0 -352px;}
    &.AE{background-position:0 -368px;}
    &.AF{background-position:0 -384px;}
    &.AG{background-position:0 -400px;}
    &.AI{background-position:0 -416px;}
    &.AL{background-position:0 -432px;}
    &.AM{background-position:0 -448px;}
    &.AN{background-position:0 -464px;}
    &.AO{background-position:0 -480px;}
    &.AQ{background-position:0 -496px;}
    &.AR{background-position:0 -512px;}
    &.AS{background-position:0 -528px;}
    &.AT{background-position:0 -544px;}
    &.AU{background-position:0 -560px;}
    &.AW{background-position:0 -576px;}
    &.AZ{background-position:0 -592px;}
    &.BA{background-position:0 -608px;}
    &.BB{background-position:0 -624px;}
    &.BD{background-position:0 -640px;}
    &.BE{background-position:0 -656px;}
    &.BF{background-position:0 -672px;}
    &.BG{background-position:0 -688px;}
    &.BH{background-position:0 -704px;}
    &.BI{background-position:0 -720px;}
    &.BJ{background-position:0 -736px;}
    &.BM{background-position:0 -752px;}
    &.BN{background-position:0 -768px;}
    &.BO{background-position:0 -784px;}
    &.BR{background-position:0 -800px;}
    &.BS{background-position:0 -816px;}
    &.BT{background-position:0 -832px;}
    &.BW{background-position:0 -848px;}
    &.BY{background-position:0 -864px;}
    &.BZ{background-position:0 -880px;}
    &.CA{background-position:0 -896px;}
    &.CG{background-position:0 -912px;}
    &.CF{background-position:0 -928px;}
    &.CD{background-position:0 -944px;}
    &.CH{background-position:0 -960px;}
    &.CI{background-position:0 -976px;}
    &.CK{background-position:0 -992px;}
    &.CL{background-position:0 -1008px;}
    &.CM{background-position:0 -1024px;}
    &.CN{background-position:0 -1040px;}
    &.CO{background-position:0 -1056px;}
    &.CR{background-position:0 -1072px;}
    &.CU{background-position:0 -1088px;}
    &.CV{background-position:0 -1104px;}
    &.CY{background-position:0 -1120px;}
    &.CZ{background-position:0 -1136px;}
    &.DE{background-position:0 -1152px;}
    &.DJ{background-position:0 -1168px;}
    &.DK{background-position:0 -1184px;}
    &.DM{background-position:0 -1200px;}
    &.DO{background-position:0 -1216px;}
    &.DZ{background-position:0 -1232px;}
    &.EC{background-position:0 -1248px;}
    &.EE{background-position:0 -1264px;}
    &.EG{background-position:0 -1280px;}
    &.EH{background-position:0 -1296px;}
    &.ER{background-position:0 -1312px;}
    &.ES{background-position:0 -1328px;}
    &.ET{background-position:0 -1344px;}
    &.FI{background-position:0 -1360px;}
    &.FJ{background-position:0 -1376px;}
    &.FM{background-position:0 -1392px;}
    &.FO{background-position:0 -1408px;}
    &.FR{background-position:0 -1424px;}
    &.GA{background-position:0 -1440px;}
    &.GB{background-position:0 -1456px;}
    &.GD{background-position:0 -1472px;}
    &.GE{background-position:0 -1488px;}
    &.GG{background-position:0 -1504px;}
    &.GH{background-position:0 -1520px;}
    &.GI{background-position:0 -1536px;}
    &.GL{background-position:0 -1552px;}
    &.GM{background-position:0 -1568px;}
    &.GN{background-position:0 -1584px;}
    &.GP{background-position:0 -1600px;}
    &.GQ{background-position:0 -1616px;}
    &.GR{background-position:0 -1632px;}
    &.GT{background-position:0 -1648px;}
    &.GU{background-position:0 -1664px;}
    &.GW{background-position:0 -1680px;}
    &.GY{background-position:0 -1696px;}
    &.HK{background-position:0 -1712px;}
    &.HN{background-position:0 -1728px;}
    &.HR{background-position:0 -1744px;}
    &.HT{background-position:0 -1760px;}
    &.HU{background-position:0 -1776px;}
    &.ID{background-position:0 -1792px;}
    &.MC{background-position:0 -1792px;}
    &.IE{background-position:0 -1808px;}
    &.IL{background-position:0 -1824px;}
    &.IM{background-position:0 -1840px;}
    &.IN{background-position:0 -1856px;}
    &.IQ{background-position:0 -1872px;}
    &.IR{background-position:0 -1888px;}
    &.IS{background-position:0 -1904px;}
    &.IT{background-position:0 -1920px;}
    &.JE{background-position:0 -1936px;}
    &.JM{background-position:0 -1952px;}
    &.JO{background-position:0 -1968px;}
    &.JP{background-position:0 -1984px;}
    &.KE{background-position:0 -2000px;}
    &.KG{background-position:0 -2016px;}
    &.KH{background-position:0 -2032px;}
    &.KI{background-position:0 -2048px;}
    &.KM{background-position:0 -2064px;}
    &.KN{background-position:0 -2080px;}
    &.KP{background-position:0 -2096px;}
    &.KR{background-position:0 -2112px;}
    &.KW{background-position:0 -2128px;}
    &.KY{background-position:0 -2144px;}
    &.KZ{background-position:0 -2160px;}
    &.LA{background-position:0 -2176px;}
    &.LB{background-position:0 -2192px;}
    &.LC{background-position:0 -2208px;}
    &.LI{background-position:0 -2224px;}
    &.LK{background-position:0 -2240px;}
    &.LR{background-position:0 -2256px;}
    &.LS{background-position:0 -2272px;}
    &.LT{background-position:0 -2288px;}
    &.LU{background-position:0 -2304px;}
    &.LV{background-position:0 -2320px;}
    &.LY{background-position:0 -2336px;}
    &.MA{background-position:0 -2352px;}
    &.MD{background-position:0 -2368px;}
    &.ME{background-position:0 -2384px;}
    &.MG{background-position:0 -2400px;}
    &.MH{background-position:0 -2416px;}
    &.MK{background-position:0 -2432px;}
    &.ML{background-position:0 -2448px;}
    &.MM{background-position:0 -2464px;}
    &.MN{background-position:0 -2480px;}
    &.MO{background-position:0 -2496px;}
    &.MQ{background-position:0 -2512px;}
    &.MR{background-position:0 -2528px;}
    &.MS{background-position:0 -2544px;}
    &.MT{background-position:0 -2560px;}
    &.MU{background-position:0 -2576px;}
    &.MV{background-position:0 -2592px;}
    &.MW{background-position:0 -2608px;}
    &.MX{background-position:0 -2624px;}
    &.MY{background-position:0 -2640px;}
    &.MZ{background-position:0 -2656px;}
    &.NA{background-position:0 -2672px;}
    &.NC{background-position:0 -2688px;}
    &.NE{background-position:0 -2704px;}
    &.NG{background-position:0 -2720px;}
    &.NI{background-position:0 -2736px;}
    &.NL{background-position:0 -2752px;}
    &.NO{background-position:0 -2768px;}
    &.NP{background-position:0 -2784px;}
    &.NR{background-position:0 -2800px;}
    &.NZ{background-position:0 -2816px;}
    &.OM{background-position:0 -2832px;}
    &.PA{background-position:0 -2848px;}
    &.PE{background-position:0 -2864px;}
    &.PF{background-position:0 -2880px;}
    &.PG{background-position:0 -2896px;}
    &.PH{background-position:0 -2912px;}
    &.PK{background-position:0 -2928px;}
    &.PL{background-position:0 -2944px;}
    &.PR{background-position:0 -2960px;}
    &.PS{background-position:0 -2976px;}
    &.PT{background-position:0 -2992px;}
    &.PW{background-position:0 -3008px;}
    &.PY{background-position:0 -3024px;}
    &.QA{background-position:0 -3040px;}
    &.RE{background-position:0 -3056px;}
    &.RO{background-position:0 -3072px;}
    &.RS{background-position:0 -3088px;}
    &.RU{background-position:0 -3104px;}
    &.RW{background-position:0 -3120px;}
    &.SA{background-position:0 -3136px;}
    &.SB{background-position:0 -3152px;}
    &.SC{background-position:0 -3168px;}
    &.SD{background-position:0 -3184px;}
    &.SE{background-position:0 -3200px;}
    &.SG{background-position:0 -3216px;}
    &.SI{background-position:0 -3232px;}
    &.SK{background-position:0 -3248px;}
    &.SL{background-position:0 -3264px;}
    &.SM{background-position:0 -3280px;}
    &.SN{background-position:0 -3296px;}
    &.SO{background-position:0 -3312px;}
    &.SR{background-position:0 -3328px;}
    &.ST{background-position:0 -3344px;}
    &.SV{background-position:0 -3360px;}
    &.SY{background-position:0 -3376px;}
    &.SZ{background-position:0 -3392px;}
    &.TC{background-position:0 -3408px;}
    &.TD{background-position:0 -3424px;}
    &.TG{background-position:0 -3440px;}
    &.TH{background-position:0 -3456px;}
    &.TJ{background-position:0 -3472px;}
    &.TL{background-position:0 -3488px;}
    &.TM{background-position:0 -3504px;}
    &.TN{background-position:0 -3520px;}
    &.TO{background-position:0 -3536px;}
    &.TR{background-position:0 -3552px;}
    &.TT{background-position:0 -3568px;}
    &.TV{background-position:0 -3584px;}
    &.TW{background-position:0 -3600px;}
    &.TZ{background-position:0 -3616px;}
    &.UA{background-position:0 -3632px;}
    &.UG{background-position:0 -3648px;}
    &.US{background-position:0 -3664px;}
    &.UY{background-position:0 -3680px;}
    &.UZ{background-position:0 -3696px;}
    &.VA{background-position:0 -3712px;}
    &.VC{background-position:0 -3728px;}
    &.VE{background-position:0 -3744px;}
    &.VG{background-position:0 -3760px;}
    &.VI{background-position:0 -3776px;}
    &.VN{background-position:0 -3792px;}
    &.VU{background-position:0 -3808px;}
    &.WS{background-position:0 -3824px;}
    &.YE{background-position:0 -3840px;}
    &.ZA{background-position:0 -3856px;}
    &.ZM{background-position:0 -3872px;}
    &.ZW{background-position:0 -3888px;}

} // .f16
