// Sidebar content. You'll see at the bottom of this file I change it in mobile.
.rst-content {
  .sidebar {
    float: right;
    width: 40%;
    display: block;
    margin: 0 0 $base-line-height $base-line-height;
    padding: $base-line-height;
    background: $table-stripe-color;
    border: solid 1px $table-border-color;
    // Sidebar content is usually less relevant, so adjust the margins and sizes.
    p, ul, dl {
      font-size: 90%;
    }
    .last {
      margin-bottom: 0;
    }
    .sidebar-title {
      display: block;
      font-family: $custom-font-family;
      font-weight: bold;
      background: $table-border-color;
      padding: $base-line-height / 4 $base-line-height / 2;
      margin: -$base-line-height;
      margin-bottom: $base-line-height;
      font-size: 100%;
    }
  }
}

// Mobile specific
@include media($mobile) {
  .rst-content {
    .sidebar {
      width: 100%;
    }
  }
}
