.password-strength {
	.password-strength-indicator {
		position: absolute;
		right: 0;
		top: 10px;
		width: 5px;
		padding: 0 10px;
		z-index: 3;
	}

	.password-strength-indicator span {
		display: block;
		height: 5px;
		margin-bottom: 2px;
		width: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
		background: #ebeef1;
	}

	&.invalid .lit,
	&.weakest .lit {
		background: #e01414;
	}
	&.weak .lit {
		background: #e09115;
	}
	&.strong .lit {
		background: #6ead09;
	}
	&.strongest .lit {
		background: #008cdd;
	}
}

.password-strength-popover {
	.popover-title {
		font-weight: bold;
	}
	&.invalid .popover-title,
	&.weakest .popover-title {
		color: #e01414;
	}
	&.weak .popover-title {
		color: #e09115;
	}
	&.strong .popover-title {
		color: #6ead09;
	}
	&.strongest .popover-title {
		color: #008cdd;
	}
}

.password-strength-popover {
	ul {
		padding-left: 1em;
		font-size: 12px;
	}
}
