.tablet-hide {
  @include media($tablet) {
    display: none;
  }
}

.mobile-hide {
  @include media($mobile) {
    display: none;
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.full-width {
  width: 100%;
}
