{% extends "base_mail.html" %}
{% load i18n capture %}

{% block teaser %}{% blocktrans %}Password reset for {{ SITE_NAME }}{% endblocktrans %}{% endblock %}

{% block content %}
	{% blocktrans %}You're receiving this e-mail because you requested a password reset for your user account at {{ SITE_NAME }}.{% endblocktrans %}

	{% capture as reset_url %}{{ SITE_SECURE_URL }}{% url 'password_reset_confirm' uidb64=uid token=token %}{% endcapture %}
	<p>{% trans "Please go to the following page and choose a new password:" %}</p>
	<p><a style="color:{{ BASE_COLOR }};" href="{{ reset_url }}">{{ reset_url }}</a></p>

	<p>{% trans "Thanks for using our site!" %}</p>
{% endblock %}
